.FormularioCadastro{
    border:1px solid white;
    margin-left:22%;
    margin-right: 2%;
    width:600px;
}
.FormularioCadastro td{
    margin:0;
    padding: 0;
}
.FormularioCadastro tr{
    margin:0;
    padding: 0;
}
.field{
    padding: 5px;
}

.field input, .field select{
    font-size: 15px;
    padding: 5px;
}

.button{
    margin-left: 5px;
    font-weight: bold;
    line-height: 1;
    padding: 6px 10px;
    cursor:pointer;
    text-align: center;
}

.link{
    color:#000000;
    cursor: pointer;
}

.tabela_consulta{
    width: 100%;
    text-align: center;
}

.tabela_consulta td{
    border-bottom: 1px solid black;
    padding: 2px;
    color: white;
}

.tabela_consulta th{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: table-cell;
    vertical-align: middle;
    padding: 2px;
    text-align: center;
    display: fixed;
}

.tabela_consulta tr{
    font-weight: bolder;
    height:5px;
    overflow:auto;
}

.fundo_tabela{
    background-color: gray;
}

.botaoAcao{
    float:right;
    margin-right: 45%;
}
/*INPUTS TYPE=CEHCKBOX E TYPE=RADIO */

input[type="radio"]{
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}
input[type="checkbox"],
input[type="radio"]{
    border-radius: 100%;
}
label + input[type="checkbox"],
label + input[type="radio"]:focus:before{
    background-color: transparent;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 100;
    padding-left: 2.55em;
    padding-right: 0.75em;
    position: relative;
    text-transform: none !important;
    width: 1.8em;
    height: 1.8em;
}
/*

label + input[type="checkbox"]:before,
label + input[type="radio"]:focus:before
{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

label + input[type="checkbox"]:before
label + input[type="radio"]:focus:before
{
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.3);
    content: '';
    display: inline-block;

    left: 0;
    line-height: 1.725em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 5.8em;
height: 5.8em;
}

label + input[type="checkbox"]:checked:before,
label + input[type="radio"]:focus:before
{
    background: rgba(255, 255, 255, 0.25);
    color: #ffffff;
    content: '\f00c';
}

label + input[type="checkbox"]:focus:before,
label + input[type="radio"]:focus:before

{
    border-color: #e44c65;
}

label + input[type="checkbox"]:before {
    border-radius: 4px;
}

label + input[type="radio"]:before {
    border-radius: 100%;
}
*/
