#corpo{
    position:relative;
    width:80%;
    margin-left: 10%;
    margin-top: 5px;
    background-color:#272833;
}

#cabecalho{
    width: 100%;
    font-weight: bold;
    text-align: center;
}

#logo{
    background-image: url("../imagens/logo.png");
    background-repeat: no-repeat;
    background-size: 100px 75px;
    width: 100px;
    height: 75px;
    float: left;
    margin-top: 2px;
    margin-left: 15px;
}

#conteudo{
    width: 100%;
    float: right;
    margin-right: 2px;
    padding: 10px;
    padding-bottom: 10px;
}

#formulariocadastro{
    width:100%;
    float:top;
    margin-top: 55px;
    background-color:#808080;
    border: 1px solid white;
    color:white;
    height:800px;
}

#rodape{
    width: 90%;
    margin: auto;
    bottom: 0;
    text-align: center;
    position: fixed;
    font-weight: bold;
}

.field{
    padding: 5px;
}

.field label{
    display: block;
    float: left;
    margin-right:15px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: right;
    width: 120px;
    line-height: 25px;
    font-size: 15px;
}

.field input, .field select{
    font-size: 15px;
    padding: 5px;
}

.button{
    margin-left: 5px;
    font-weight: bold;
    line-height: 1;
    padding: 6px 10px;
    cursor:pointer;
    text-align: center;
}

.link{
    color:#000000;
    cursor: pointer;
}

.mensagem_sucesso{
    font-weight: bold;
    color: forestgreen;
}

.mensagem_operacao_alterar_excluir{
    font-weight: bold;
    color: #ff0000;
}
.tabela_consulta{
    width: 100%;
    text-align: center;
    background-color:gray;


}

.tabela_consulta td{
    border-bottom: 1px solid black;
    padding: 2px;
    color: white;
}


.tabela_consulta th{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: table-cell;
    vertical-align: middle;
    padding: 2px;
    text-align: center;
}

.tabela_consulta tr{
    font-weight: bolder;
    height:5px;
    overflow:auto;
}

.fundo_tabela{
    background-color: gray;
}

.botaoAcao{
    background-color: #e44c65;
    box-shadow: none;
    color: #ffffff !important;
}

.botao{
    /*Borda do botao  */
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    /*Inicio-Tamanho do botao */
    height: 1em;
    line-height: 1em;
    padding: 0 0.8em;
    /*Fim-Tamanho do botao*/
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
.botao:hover,
.botao:active {
    /* Cor ao passar o mouse*/
    box-shadow: inset 0 0 0 1px #696969;
    color: #696969 !important;
}

.botao:active {
    /*Cor ao clicar no botao->Ativo*/
    background-color: #87CEFA;
}

#botaoAlterar{
    /*Cor de fundo do botao    */
    background-color:#3CB371;
}

#botaoExcluir{
    /*Cor de fundo do botao    */
    background-color: #FF4500;
}

#botaoGravar{
    /*Cor de fundo do botao    */
    background-color: #00BFFF;
}

#botaoLimpar{
    /*Cor de fundo do botao    */
    background-color: #FF0000;
}

#botaoEntrar{
    /*Cor de fundo do botao    */
    background-color:#00BFFF;
}

#botaoCadastrar{
    /*Cor de fundo do botao    */
    background-color:#00BFFF;
}

.label_formulario{
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
}

/*Menu */
header p {
    color: #ffffff;
    position: relative;
    margin: 0 0 1.5em 0;
}

header h2 + p {
    font-size: 1.25em;
    margin-top: -1em;
    line-height: 1.75em;
}

header h3 + p {
    font-size: 1.1em;
    margin-top: -0.8em;
    line-height: 1.75em;
}

header h4 + p,
header h5 + p,
header h6 + p {
    font-size: 0.9em;
    margin-top: -0.6em;
    line-height: 1.5em;
}

header.major {
    margin: 0 0 4em 0;
    position: relative;
    text-align: center;
}

header.major:after {
    background: #e44c65;
    content: '';
    display: inline-block;
    height: 0.2em;
    max-width: 20em;
    width: 75%;
}

/*parte 2 */
#header {
    background: rgba(39, 40, 51, 0.965);
    box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
    cursor: default;
    height: 2.5em;
    left: 0;
    line-height: 2.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#header h1 {
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    position: absolute;
    top: 0;
}

#header nav {
    margin-left: 90px;
    top: 0;
}

#header nav ul {
    margin: 0;
}

#header nav ul li {
    display: inline-block;
    margin-left: 1em;
}

#header nav ul li a, #header nav ul li span {
    border: 0;
    color: inherit;
    display: inline-block;
    height: inherit;
    line-height: inherit;
    outline: 0;
}

#header nav ul li a.button, #header nav ul li span.button {
    height: 2em;
    line-height: 2em;
    padding: 0 1.25em;
}

#header nav ul li a:not(.button):before, #header nav ul li span:not(.button):before {
    margin-right: 0.5em;
}

#header nav ul li.active > a, #header nav ul li.active > span {
    color: #e44c65;
}

#header nav ul li > ul {
    display: none;
}

body.landing #header {
    background: transparent;
    box-shadow: none;
    position: absolute;
}

#banner .content header {
    display: inline-block;
    vertical-align: middle;
}

#banner .content header h2 {
    font-size: 2.5em;
    margin: 0;
}

#banner .content header p {
    margin: 0.5em 0 0 0;
    top: 0;
}

/*parte 3*/
#navPanel {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: translateX(-275px);
    -webkit-transform: translateX(-275px);
    -ms-transform: translateX(-275px);
    transform: translateX(-275px);
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: block;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 275px;
    z-index: 10002;
    background: #181920;
    padding: 0.75em 1.25em;
}

#navPanel .link {
    border: 0;
    border-top: solid 1px rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.75);
    display: block;
    height: 3em;
    line-height: 3em;
    text-decoration: none;
}

#navPanel .link:hover {
    color: inherit !important;
}

#navPanel .link:first-child {
    border-top: 0;
}

#navPanel .link.depth-0 {
    color: #ffffff;
    font-weight: 300;
}

#navPanel .link .indent-1 {
    display: inline-block;
    width: 1.25em;
}

#navPanel .link .indent-2 {
    display: inline-block;
    width: 2.5em;
}

#navPanel .link .indent-3 {
    display: inline-block;
    width: 3.75em;
}

#navPanel .link .indent-4 {
    display: inline-block;
    width: 5em;
}

#navPanel .link .indent-5 {
    display: inline-block;
    width: 6.25em;
}

#texto{
    color:blue;
}

#imagemcorpoformulario{
    background: url(../imagens/city2.jpg) 0 repeat;
    height:1200px;
    text-align: center;
    margin-top: 0px;
}


