/*PARTE MAIN.CSS-INICIO */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body, input, select, textarea {
    color: rgba(255, 255, 255, 0.75);
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 100;
    line-height: 1.75em;
}
body {
    line-height: 1;
}
@media screen and (max-width: 1280px) {

    /* Basic */

    body, input, select, textarea {
        font-size: 11.5pt;
    }

    /* Spotlight */

    .spotlight.top .content {
        padding: 3.825em 0 1.825em 0;
    }

    .spotlight.bottom .content {
        padding: 3.825em 0 2.95em 0;
    }

    .spotlight.left .content, .spotlight.right .content {
        padding: 4.5em 2.5em;
        width: 25em;
    }

    /* Wrapper */

    .wrapper {
        padding: 4.5em 0 2.5em 0;
    }

    /* Dropotron */

    .dropotron.level-0 {
        font-size: 1em;
    }

    /* Banner */

    #banner .content {
        padding: 4.5em;
    }
}
@media screen and (max-width: 1680px) {

    /* Basic */

    body, input, select, textarea {
        font-size: 13pt;
    }

}
/*PARTE MAIN.CSS -FIM */

/*PARTE STYLE.CSS -INICIO */
body {
    color: #363b3f;
    background: #F7F6F6;
}
.section {
    padding: 30px 0 50px 0px;
}
.section h1, .section h2, .section h3, .section h4 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #1e8bc3;
}
.section .divider {
    width: 70%;
    height: 1px;
    background: #1e8bc3;
    margin: 0 auto;
}
/*  ---------------------
   |   REDES SOCIAIS     |
    ---------------------  */
#social-network {
    background: url(../imagens/city.jpg) 0 repeat;
    height: 350px;
    text-align: center;
    margin-top: 0px;
}
#social-network h2 {
    font-size: 3em;
    margin: 45px 0;
    color: #F7F6F6; }
@media screen and (max-width: 480px) {
    #social-network h2 {
        font-size: 2em; } }
.social-icon li {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px; }
.social-icon li a {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    display: block;
    width: 60px;
    height: 60px;
    font-size: 33px;
    line-height: 57px;
    text-align: center;
    color: #ffffff;
    border: 2px solid #ffffff; }
.social-icon li a:hover {
    background-color: #F7F6F6;
    color: #6bb9f0; }
@media screen and (max-width: 480px) {
    .social-icon {
        width: 100%;
        text-align: center; }
    .social-icon li {
        margin-left: 3px;
        margin-right: 3px; } }
/*  -------------------------
           THINKABOUT
    ------------------------- */
#thinkabout{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #1e8bc3;
}
/*  ---------------------
   |       FOOTER        |
    ---------------------  */
#footer p {
    font-size: 14px;
    color:black;
    text-align: center;
    margin-right: 10px;
}
/*PARTE STYLE.CSS -FIM */