.sequencialItem{
    
    width:42px;
    padding-left: 2px;
    font-family:Verdana;
    font-size:10pt;
}

.testeX{
    
    float: left;
    
}

.categoriaSelecionada{
	
	font-family:Verdana;
	font-size:10pt;
	background-color:navy;
	padding-left:5px;
	cursor:pointer;
	
}

.categoriaNormal{
	
	font-family:Verdana;
	font-size:10pt;
	background-color: rgb(245, 245, 245);
	cursor:pointer;
	padding-left:5px;
	-moz-user-select:none;

}

.linhaCategoria{

	border:0px solid;
	align:middle;

}

.elementoOculto{
	position:absolute;
	visibility:hidden;
}

.quadroDetalhesItemClasse{

	position: absolute;
	margin-left:405px;
	margin-top:25px;
	height:300px;
	width:300px;
}

.quadroDetalhesItemAssunto{

	position: absolute;
	margin-left:355px;
	margin-top:35px;
	height:300px;
	width:300px;
	
	
}